<h1>Working on models using templates</h1>
<ul>
    {% for each in all_post_list %}
        <li>{{ each }}</li>
    {% endfor %}

</ul>


<!--
In our templates file home.html we can use the Django Templating Language’s for loop
to list all the objects in object_list.
Why object_list? This is the name of the variable that ListView returns to us.
-->